/* basic page set up*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.5rem;
}

/* header and nav */
.site header {
    background-color: #020617;
    border-bottom: 1px solid #1f2937;
    padding: 0.75rem 1.25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    font-size: 1.2rem;
}

.logo p {
    font-size: 0.8rem;
    color: #9ca3af;
}

.main-nav a {
    color: #cbd5f5;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 0.85rem;
}

.main-nav a:hover {
    text-decoration: underline;
}

/* main layout and section */
main {
    max-width: 1000px;
    margin: 1.5rem auto 3rem;
    padding: 0 1rem;
}

.section {
    background-color: #020617;
    border: 1px solid #1f2937;
    border-radius: 8px;
    padding: 1.25rem;
    margin-bottom: 1.5rem;
}

.section h2 {
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
}

/* butttons */
button, .primary-btn {
    font: inherit;
    cursor: pointer;
    border: none;
}

.primary-btn {
    background-color: #22c55e;
    color: #022c22;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    font-size: 0.9rem;
}

.primary-btn:hover {
    background-color: #16a34a;
}

/* form style */
.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}

.form-row-inline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

label {
    font-size: 0.85rem;
    margin-bottom: 0.2rem;
}

.required {
    color: #f97373;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  padding: 0.45rem 0.6rem;
  border-radius: 6px;
  border: 1px solid #4b5563;
  background-color: #020617;
  color: #e5e7eb;
  font-size: 0.9rem;
}

textarea {
    resize: vertical;
}